<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">News Scraper App</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Get Latest News Updates</a></li>
           
        
        </ul>
    </div>
</nav>